:root {
  --black-color: #141519;
  --light-black-color: #212227;
  --lines-color: #38383f;

  --wh-color: #ececec;
  --fr-color: #fc107a;
  --se-color: #d71e70;
  --tx-color: #d4d4d6;
  --font: "Manrope", sans-serif;
  --font-size: 12px;

  --swiper-theme-color: rgba(132, 132, 132, 0.479);

  --border-radius: 20px;
}

/* Reset */

html {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* structure */

body {
  font-family: var(--font);
  font-size: 16px;
  color: var(--tx-color);
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--light-black-color);
}

.container-fluid {
  width: 100vw;
}

.wrap-nav {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-bottom: 60px;
}

.wrap-main {
  width: 100vw;
  padding: 20px 40px 100px 240px;
  min-width: 110px;
}

h1 {
  color: var(--wh-color);
  font-size: 2rem;
  line-height: 130%;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
  padding: 0;
  margin: 0;
}

h2 {
  color: var(--wh-color);
  font-size: 1.7rem;
  line-height: 130%;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
  padding: 20px 0 20px;
  margin: 0;
}

h3 {
  color: var(--wh-color);
  font-size: 1.5rem;
  line-height: 160%;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
  padding: 30px 0 0 0;
  margin: 0;
}

h3 span {
  color: var(--se-color);
  display: block;
  font-size: 3rem;
}

h4 {
  color: var(--tx-color);
  font-size: 1.4rem;
  line-height: 130%;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
  padding: 0 0 10px 0;
  margin: 0;
  width: 200px;
}

/* navbar */

nav {
  padding: 20px;
  height: 100vh;
  position: relative;
  background-color: var(--black-color);
}

nav .wrap-logo {
  display: block;
  padding-bottom: 100px;
  height: 50px;
}

nav .wrap-logo img {
  width: 100%;
}

nav a,
nav a:visited {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: regular;
  text-decoration: none;
  color: var(--tx-color);
  display: block;
  line-height: 36px;
}

nav a:hover,
nav a:active {
  color: var(--se-color) !important;
}

nav a.login {
  display: block;
  position: absolute;
  bottom: 40px;
}

/* nav-item  */
.nav-item .nav-link {
  font-size: 1.2rem;
  font-weight: regular;
  text-decoration: none;
  color: var(--tx-color);
  line-height: 30px !important;
  display: block;
}

.nav-item .nav-link span {
  font-size: 15px;
  vertical-align: -3px;
  padding-right: 10px;
}

.nav-item .last-link {
  margin-bottom: 30px;
}

.nav-item h5.divider {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: var(--wh-color);
  padding-top: 10px;
  margin: 0;
}

.nav-item .create-playlist {
  border-bottom: 1px solid var(--lines-color);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* user-loged */
.user-loged {
  display: flex;
  font-size: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: var(--wh-color);
  cursor: pointer;
  position: relative;
}

.user-loged .user {
  background-color: var(--black-color);
  padding: 1px 10px 1px 0;
  line-height: 30px;
  border-radius: 15px;
  z-index: 200;
}

.user-loged .user .user-photo {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 15px;
  margin-right: 10px;
}

.user-loged .user span {
  vertical-align: -10px;
  padding-left: 10px;
  opacity: 0.6;
}

.user-loged .user:hover span {
  opacity: 1;
}

.user-loged .user-dropdown {
  padding: 10px;
  background-color: var(--black-color);
  position: absolute;
  top: 0;
  width: calc(100% - 36px);
  z-index: 100;
  border-radius: 15px;
  padding-top: 35px;
}

.user-loged .user-dropdown a {
  color: var(--tx-color);
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  line-height: 40px;
}

.user-loged .user-dropdown a:hover {
  color: var(--wh-color);
}

.user-loged .user-dropdown a:last-child {
  border-top: 1px solid var(--lines-color);
}

/* Home */
.structure-home {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.structure-home > div:nth-child(1) {
  width: calc(100% - 340px);
  padding-right: 20px;
  border-right: 1px solid var(--lines-color);
}

/* button */

.btn-primary,
.btn-primary:visited {
  width: 120px;
  font-size: 1rem;
  text-decoration: none;
  background-color: var(--se-color);
  color: var(--wh-color);
  height: 40px;
  display: block;
  line-height: 40px;
  text-transform: capitalize;
  text-align: center;
  border-radius: var(--border-radius);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--fr-color);
  color: var(--wh-color) !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.btn-primary-outline,
.btn-primary-outline:visited {
  width: 120px;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid var(--lines-color);
  background-color: transparent;
  color: var(--wh-color);
  height: 40px;
  display: block;
  line-height: 40px;
  text-transform: capitalize;
  text-align: center;
  border-radius: var(--border-radius);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.btn-primary-outline:hover,
.btn-primary-outline:active {
  border: var(--lines-color);
  background-color: var(--lines-color);
  color: var(--wh-color) !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

/* html button */
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--tx-color);
}

button:hover {
  color: var(--wh-color) !important;
}

/* topbar */
.topbar {
  display: flex;
  height: 50px;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}

.topbar #search {
  border-radius: var(--border-radius);
  height: 40px;
  background: var(--black-color);
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.topbar #search input[type="search"] {
  background-color: transparent;
  width: 280px;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
  color: white;
  border: none;
  outline: none;
  accent-color: green;
}

.topbar #search img {
  cursor: pointer;
  fill: white;
  width: 30px;
  height: 30px;
}

/* heroSlider */

.hero {
  height: 400px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.hero .hero-overlay {
  position: relative;
  height: 101%;
  padding: 0 60% 40px 40px;
  margin-left: -1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgb(17, 18, 20);
  background: linear-gradient(
    90deg,
    rgba(17, 18, 20, 1) 1%,
    rgba(17, 18, 20, 1) 10%,
    rgba(17, 18, 20, 0) 60%
  );
}

.hero .hero-overlay:hover {
  background: rgb(17, 18, 20);
  background: linear-gradient(
    90deg,
    rgba(17, 18, 20, 1) 1%,
    rgba(17, 18, 20, 1) 10%,
    rgba(17, 18, 20, 0) 80%
  );
}

.hero .hero-overlay .hero-artist {
  color: var(--fr-color);
  margin-bottom: 20px;
  display: block;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.hero .hero-overlay .hero-artist:hover {
  text-decoration: underline;
}

.hero .hero-overlay a {
  margin-top: 20px;
}

/* made for you */
.made-for-you {
  padding: 0 20px;
  width: 340px;
  position: sticky;
  top: 0;
  right: 0;
}

/* swiperLarge */
.swiperLarge {
  margin: 0 20px 20px 0;
}

.swiperLarge .swiper-slide {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

/* swiperArtist */
.swiperArtist .swiper-slide {
  width: 150px;
  height: 200px;
  overflow: hidden;
}

/* swiperPlaylists */
.swiperPlaylists .swiper-slide {
  width: 200px;
  height: 250px;
  overflow: hidden;
}

/* list-genres */
.list-genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-genres a {
  background-color: var(--black-color);
  border-radius: 25px;
  color: var(--tx-color);
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  line-height: 25px;
  text-decoration: none;
}

.list-genres a:hover {
  color: var(--wh-color);
}

/* thumb content */
.wrap-thumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.thumb-content {
  width: 300px;
  overflow: hidden;
  background-color: #212227;
  margin-right: 20px;
}

/* .thumb-content:hover {
  background-color: #000;
} */

.thumb-content .thumb-img {
  height: 200px;
  display: block;
  border-radius: var(--border-radius);
  position: relative;
}

.thumb-content .thumb-img .btn-play-thumb {
  color: var(--fr-color);
  font-size: 3rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-decoration: none;
  transition: all 0.2s;
}

.thumb-content .thumb-img .btn-play-thumb:hover {
  transform: scale(1.3);
  transition: all 0.2s;
}

.thumb-content .thumb-img .btn-add-queue {
  color: var(--wh-color);
  font-size: 2rem;
  position: absolute;
  bottom: 24px;
  left: 60px;
  text-decoration: none;
  transition: all 0.2s;
}

/* .thumb-content .thumb-img .btn-add-favorite {
  color: var(--wh-color);
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  transition: all 0.2s;
}

.thumb-content .thumb-img .btn-add-favorite:hover {
  color: #bbac24;
  transition: all 0.2s;
} */

.thumb-content .name {
  display: flex;
}

.thumb-content .name div:nth-child(1) {
  width: calc(100% - 62px);
}

.thumb-content .name-session {
  font-size: 16px;
  color: var(--wh-color);
  text-decoration: none;
  padding: 10px 10px 0 0;
  display: block;
  line-height: 20px;
}

.thumb-content .name-artist {
  color: var(--fr-color);
  margin-bottom: 20px;
  display: block;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

.name-artist:hover {
  text-decoration: underline;
}

.thumb-content .duration,
.thumb-playlist .duration {
  width: 62px;
  font-size: 12px;

  color: var(--tx-color);
  text-align: right;
  padding-right: 5px;
  margin-top: 8px;
}

.thumb-content .duration label,
.thumb-playlist .duration label {
  height: 26px;
  display: block;
  border-radius: 4px;
  border: 1px solid var(--lines-color);
  text-align: center;
}

/* thumb artist */

.thumb-artist {
  width: 150px;
  height: 200px;
  cursor: pointer;
  overflow: hidden;
  background-color: #212227;
  text-decoration: none;
}

.thumb-artist .img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.thumb-artist .name {
  line-height: 50px;
  color: var(--wh-color);
  text-align: center;
  font-weight: bold;
}

.thumb-artist:hover .name {
  color: var(--fr-color);
}

/* ThumbPlaylist */
.thumb-playlist .thumb-img {
  height: 200px;
  width: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.thumb-playlist .thumb-img > div {
  width: 100px;
  height: 100px;
}

.thumb-playlist .thumb-img > div:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  background-color: red;
}
.thumb-playlist .thumb-img > div:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
  background-color: blanchedalmond;
}
.thumb-playlist .thumb-img > div:nth-child(3) {
  grid-area: 2 / 1 / 3 / 2;
  background-color: greenyellow;
}
.thumb-playlist .thumb-img > div:nth-child(4) {
  grid-area: 2 / 2 / 3 / 3;
  background-color: orange;
}

.thumb-playlist .name {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.thumb-playlist .name span {
  font-size: 16px;
  color: var(--wh-color);
  cursor: pointer;
  padding: 10px 10px 0 0;
  display: block;
  line-height: 20px;
}

/* content list */
.list-contents > li {
  margin: 20px 0;
  padding: 20px;
  background-color: #1a1b1f;
  min-height: 200px;
}

.list-contents > li .card-nueva-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

/* playlist list */
.playlist-content {
  display: flex;
  height: 90px;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.playlist-content .img {
  width: 200px;
  height: 90px;
}

.playlist-content .title {
}

.playlist-content .artist {
}

.playlist-content .duration {
}

/* player */
.player {
  position: fixed;
  bottom: 0;
  height: 60px;
  background-color: var(--black-color);
  width: 100vw;
  z-index: 2000;
  border-top: 1px solid var(--lines-color);
  -webkit-box-shadow: 0px -5px 17px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px -5px 17px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px -5px 17px 0px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.player .video {
  width: 200px;
  background-color: var(--light-black-color);
  min-height: 170px;
}

.player .player-wrapper {
  width: calc(100vw - 200px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 10px;
}

.player .player-wrapper > div:nth-child(1) {
  width: 30%;
  text-align: left;
}

.player .player-wrapper > div:nth-child(1) .title {
  font-size: 1rem;
  line-height: 1rem;
  display: block;
}

.player .player-wrapper > div:nth-child(1) .artist {
  font-size: 1rem;
  font-weight: bold;
  color: var(--wh-color);
  text-decoration: none;
}

.player .player-wrapper > div:nth-child(1) .artist:hover {
  text-decoration: underline;
  cursor: pointer;
}

.player .player-wrapper > div:nth-child(2) {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.player .player-wrapper > div:nth-child(2) span {
  padding-right: 20px;
}

.player .player-wrapper > div:nth-child(2) span:hover {
  color: var(--wh-color);
  cursor: pointer;
}

.player .player-wrapper > div:nth-child(2) span:nth-child(2) {
  color: var(--fr-color);
  font-size: 3rem;
  opacity: 1;
}

.player .player-wrapper > div:nth-child(2) span:nth-child(2):hover {
  opacity: 0.8;
}

.player .player-wrapper > div:nth-child(3) {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.player .player-wrapper > div:nth-child(3) span {
  padding-left: 20px;
  opacity: 1;
}

.player .player-wrapper > div:nth-child(3) span:hover {
  opacity: 0.8;
  cursor: pointer;
}

.player .player-wrapper > div:nth-child(3) span:nth-child(3) {
  color: var(--wh-color);
  font-size: 4rem;
}

/* content detail */

.content-back div {
  height: 100vh;
  background: linear-gradient(
    9deg,
    rgba(17, 18, 20, 0.9) 11%,
    rgba(17, 18, 20, 0.9) 24%,
    rgba(17, 18, 20, 0) 100%
  );
  position: relative;
  padding: 70vh 100px 70px;
}

.btn-play {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  color: var(--wh-color);
  border-radius: 50px;
  border: 3px solid var(--wh-color);
  background-color: transparent;
  text-align: center;
  font-size: 13rem;
  line-height: 90px;
  text-decoration: none;
  padding-left: 8px;
  box-shadow: 0px 0px 8px -3px #000;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
  transition: all 0.2s;
}

.btn-play:hover,
.btn-play:active {
  transition: all 0.2s;
  transform: scale(1.2);
}

/* page-artist */

.page-artist {
  display: flex;
  position: relative;
}

.page-artist .img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.page-artist .name {
  line-height: 40px;
  font-size: 4rem;
  color: var(--wh-color);
  padding-top: 5px;
  padding-left: 20px;
  font-weight: bold;
}

.page-artist .name span {
  display: block;
  font-size: 1.5rem;
  color: var(--tx-color);
  opacity: 0.4;
}

.page-artist button {
  position: absolute;
  right: 0px;
  top: 10px;
}

.artist {
  display: flex;
}

.artist > div:nth-child(1) {
  width: 60%;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid var(--lines-color);
}

.artist .big-img {
  width: 100%;
  max-height: 400px;
  border-radius: 10px;
  margin: 10px 0;
  object-fit: cover;
}

.artist .artist-rrss {
  border-top: 1px solid var(--lines-color);
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.artist .artist-rrss li a {
  font-size: 1.2rem;
  color: #7c7c7c;
  margin-right: 20px;
  text-decoration: none;
}

.artist .artist-rrss span {
  color: var(--wh-color);

  display: block;
  font-size: 2rem;
}

.artist .artist-donate {
  margin: 40px 0;
  padding: 0 7px 0 35px;
  display: flex;
  background-color: var(--black-color);
  color: var(--wh-color);
  accent-color: var(--fr-color);
  border-radius: 25px;
  align-items: center;
  justify-content: space-between;
  line-height: 50px;
}

.artist .artist-usd {
  display: flex;
}

.artist .artist-usd button {
  border: 1px solid var(--lines-color);
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
}

.artist .artist-usd button.active {
  background: var(--lines-color);
  color: var(--wh-color);
}

.artist > div:nth-child(2) {
  width: 40%;
}

/* form login */

.wrap-form {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form {
  width: 300px;
  padding: 30px;
  background-color: var(--light-black-color);
  text-align: center;
  box-shadow: 0px 0px 86px 0px rgba(163, 115, 39, 0.507);
  position: relative;
}

.form span {
  display: block;
  font-size: 2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: rgb(70 70 70 / 85%);
}

.form input[type="email"],
.form input[type="password"] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--fr-color);
  font-family: var(--font-family);
  text-align: center;
  font-size: 16px;
  margin: 10px auto 30px;
  padding: 10px;
  color: var(--wh-color);
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
  background-color: #35373f;
  border: 0;
  border-bottom: 1px solid var(--se-color);
  outline: none;
}

.form input[type="submit"] {
  line-height: 10px;
  margin: 20px auto;
  cursor: pointer;
}

.form p {
  text-align: left;
  color: #cccccc69;
}

.error {
  background-color: #b30f40a2;
  border-color: 1px solid #b30f40e1;
  color: var(--wh-color);
  border-radius: 5px;
  line-height: 30px;
  margin-bottom: 10px;
}

.success {
  background-color: #0fb346a2;
  border-color: 1px solid #0fb346e1;
  color: var(--wh-color);
  border-radius: 5px;
  line-height: 30px;
  margin-bottom: 10px;
}
