:root {
  --black-color: #111214;
  --light-black-color: #1a1b1f;

  --wh-color: #fafafa;
  --fr-color: #a37427;
  --se-color: #be9a60;
  --tx-color: #ccc;
  --font: "Montserrat", sans-serif;
  --font-size: 14px;

  --swiper-theme-color: rgba(204, 204, 204, 0.479);

  --border-radius: 20px;
}

/* Reset */

html {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* structure */

body {
  font-family: var(--font);
  font-size: 16px;
  color: var(--tx-color);
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--black-color);
}

.container-fluid {
  width: 100vw;
}

.wrap-nav {
  width: 20vw;
  background-color: var(--light-black-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.wrap-main {
  width: 100vw;
  padding-left: 20vw;
}

h1 {
  color: var(--wh-color);
  font-size: 4rem;
  line-height: 130%;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
  padding: 0;
  margin: 0;
}

h2 {
  color: var(--tx-color);
  font-size: 1.4rem;
  line-height: 130%;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
  padding: 20px 0 0 20px;
  margin: 0;
}

h3 {
  color: var(--wh-color);
  font-size: 3rem;
  line-height: 130%;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
  padding: 30px 0 0 20px;
  margin: 0;
}

h3 span {
  color: var(--se-color);
}

h4 {
  color: var(--tx-color);
  font-size: 1.4rem;
  line-height: 130%;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
  padding: 0 0 10px 0;
  margin: 0;
  width: 200px;
}

/* navbar */

nav {
  padding: 40px;
  padding: 40px;
  height: 100vh;
  position: relative;
}

nav .wrap-logo {
  display: block;
  padding-bottom: 100px;
}

nav .nav-link {
  cursor: pointer;
  line-height: 60px;
}

nav a,
nav a:visited {
  font-size: 1.2rem;
  font-weight: regular;
  text-decoration: none;
  color: var(--tx-color);
  display: block;
  line-height: 60px;
}

nav a:hover,
nav a:active {
  color: var(--se-color) !important;
}

nav a.login {
  display: block;
  position: absolute;
  bottom: 40px;
}

.nav-item ul a {
  padding-left: 40px;
  font-size: 1rem;
  font-weight: regular;
  text-decoration: none;
  color: var(--tx-color);
  line-height: 40px;
  display: block;
}
/* button */

.btn-primary,
.btn-primary:visited {
  min-width: 180px;
  width: 180px;
  font-size: 1rem;
  text-decoration: none;
  background-color: var(--se-color);
  color: var(--wh-color);
  height: 40px;
  display: block;
  line-height: 40px;
  text-transform: capitalize;
  text-align: center;
  border-radius: var(--border-radius);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--fr-color);
  color: var(--wh-color) !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

/* HeroSlider */

.HeroSlider {
  height: calc(100vh - 350px);
  min-height: 400px;
}

.HeroSlider .swiper-hero-overlay {
  height: 101%;
  padding: 20% 0 0 60px;
  background: rgb(17, 18, 20);
  background: linear-gradient(
    9deg,
    rgba(17, 18, 20, 1) 11%,
    rgba(17, 18, 20, 1) 24%,
    rgba(17, 18, 20, 0) 100%
  );
}

.HeroSlider .swiper-hero-overlay label {
  color: var(--fr-color);
  margin-bottom: 20px;
  display: block;
}

.HeroSlider .swiper-hero-overlay span {
  border: 1px solid var(--tx-color);
  border-radius: 4px;
  padding: 5px;
  opacity: 0.5;
  margin-right: 10px;
}

.HeroSlider .swiper-hero-overlay a {
  margin-top: 20px;
}

.HeroSlider .swiper-pagination-bullet {
  background-color: #a37427;
  border-radius: 10px;
}

.HeroSlider .swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 10px;
}

/* swiperLarge */

.swiperLarge {
  margin: 20px 20px 70px;
}

.swiperLarge .swiper-slide {
  width: 350px;
  height: 250px;
}

.full-link {
  display: flex;
  width: 350px;
  height: 250px;
  background: rgba(17, 18, 20, 0.2);
  text-decoration: none !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  font-size: 1.2rem;
  color: var(--tx-color);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
}

.full-link:hover {
  background: rgb(17, 18, 20, 0.2);
  background: linear-gradient(
    9deg,
    rgba(17, 18, 20, 0.7) 11%,
    rgba(17, 18, 20, 0.7) 24%,
    rgba(17, 18, 20, 0) 100%
  );
}

/* thumb Movie */
.wrap-thumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.thumb-movie {
  margin: 20px 20px 70px;
  width: 350px;
  height: 250px;
}

.thumb-movie .full-link {
  display: flex;
  width: 350px;
  height: 250px;
  background: rgba(17, 18, 20, 0.2);
  text-decoration: none !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  font-size: 1.2rem;
  color: var(--tx-color);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
}

.thumb-movie .full-link:hover {
  background: rgb(17, 18, 20, 0.2);
  background: linear-gradient(
    9deg,
    rgba(17, 18, 20, 0.7) 11%,
    rgba(17, 18, 20, 0.7) 24%,
    rgba(17, 18, 20, 0) 100%
  );
}

/* movie list */
.list-movies > li {
  margin: 20px;
  padding: 20px;
  background-color: #1a1b1f;
  min-height: 200px;
}

.list-movies > li .card-nueva-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

/* movie detail */

.movie-back div {
  height: 100vh;
  width: 80vw;
  background: linear-gradient(
    9deg,
    rgba(17, 18, 20, 0.9) 11%,
    rgba(17, 18, 20, 0.9) 24%,
    rgba(17, 18, 20, 0) 100%
  );
  position: relative;
  padding: 70vh 100px 70px;
}

.btn-play {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  color: var(--wh-color);
  border-radius: 50px;
  border: 3px solid var(--wh-color);
  background-color: transparent;
  text-align: center;
  font-size: 13rem;
  line-height: 90px;
  text-decoration: none;
  padding-left: 8px;
  box-shadow: 0px 0px 8px -3px #000;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
  transition: all 0.2s;
}

.btn-play:hover,
.btn-play:active {
  transition: all 0.2s;
  transform: scale(1.2);
}
